
.projName{
    position: absolute;
    display: block;
    transform: translateX(50%);
    right: 50%;
    top: 200px;
    font-size: 80px;
    color: #414056;  
}

.statisticBox{    

    width: 100%;
    background: #2E3058;
    color: #F2DC8C;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 50px 0 50px 0;
    position: relative;


    margin: 0 auto;

}
.statisticBox_item{
    margin-left: 10vw;
}
.number_box{ font-size: 6em ; }
.stat_name_box{ font-size: 1.875em ; }

.statisticBox_item:nth-child(1){
    margin-left: 0;
}
.prlxMRGN{
    margin-top: 200px;
}

@media  (max-width: 1430px) {
  
    .projName{ font-size: 55px;top: 170px;}
    .prlxMRGN{ margin-top: 150px;}
}
@media  (max-width: 1024px) {
  
    .number_box{font-size: calc(6em * 0.75);}
    .stat_name_box{font-size: calc(1.875em * 0.75);}
    .projName{ top: 180px;}
}


@media  (max-width: 765px) {
  
    .statisticBox{flex-direction: column;}
    .statisticBox_item{margin-left: 0;}
    .projName{ font-size: 34px;top: 290px;}
    .prlxMRGN{ margin-top: 100px;}
}
@media  (max-width: 475px) {
  
    .projName{ font-size: 23px;}
}
