.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
h1{
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.accordion {
  margin-top: 30px;
  width: 100%;
}

.item {
  background: #EFD472;
  margin-bottom: 5px;
  padding: 10px 20px;
  cursor: pointer;

}

.tittle{
  color: black;
  display: flex;
  padding: 0 100px 0 100px;
  justify-content: space-between;
  align-items: center;

}
.tittle_schoolNameBlock{
  display:flex;
  flex-direction:column;
  width: 440px;
}
.tittle_schoolCityBlock{
  display:flex;
  flex-direction:column;
  width: 150px;
  margin-left: 20px;
}

.tittle_schoolNameBlock_tittle{
  color: grey;
  display: flex;
  font-size: 14px;
  justify-content: flex-start;
}
.tittle_schoolNameBlock_content{
  color: black;
  display: flex;
  font-size: 20px;
  justify-content: flex-start;
  text-align: initial;
}
.content{
  color: grey;
  max-height: 0;
  overflow: hidden;
  width: 100%;


  transition: all 0.5s cubic-bezier(0,1,0,1);
  
}
.contentBox{

  display: flex;
  flex-direction: column;

  margin: 30px 100px 30px 100px;

}
.contentBox_content{
  color: black;
  display: flex;
  justify-content: flex-start;
  text-align: initial;
}
.contentBox_description{

  display: flex;

  margin: 30px 100px 30px 100px;

}
.content.show{
  height: auto;
  width: 100%;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1,0,1,0);
}

@media  (max-width: 1430px) {
  
  
  .tittle_schoolNameBlock_tittle{font-size: 12px;}
  .tittle_schoolNameBlock_content{font-size: 16px;}
  .contentBox_content{font-size: 14px;}
}

@media  (max-width: 765px) {
.tittle{ padding: 0 3% 0 3%;}
  .contentBox{margin: 30px 5% 30px 5%;}
}


.carousel {
  height: 600px;

}
.product--image {
  width: 100%;
  height: 16em;
  object-fit: cover;
}

.card {
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 320px;
  width: 300px;
  margin: auto 1rem;
  text-align: center;
  font-family: arial;
  margin-bottom: 20px;
}

.price {
  margin-top: 10px;
  margin-bottom: 10px;
  color: grey;
  font-size: 16px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: black;
  transition: 0.9s;

  border: 1px solid black;
  background-color: white;
  text-align: center;
  cursor: pointer;
  height: 50px;
  /* width: 100%; */
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
}

.card button:hover {
  transition: 0.2s;
  color: #EFD472;
}
/* display: flex;
flex-direction: column;
align-items: center;
justify-content: center; */
.dialogClass {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}
/* .react-multi-carousel-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.carousel ul li{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section{
  position: relative;
  width: 100vw;
  height: 23.572vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#text{
  position: absolute;
  color: white;
  white-space: nowrap;
  font-size: 7.5vw;
  z-index: -3;
  top: 0;
  transform: translateY(-40px);
  
}
section img{
  position: absolute;
  /* top: 0; */
  bottom: 0;
  left: 0;
  width: 100vw;
  object-fit: cover;
}

#mt1{
  z-index: -1;
}

#mt2{
  z-index: -2;
}

#mt3{
  z-index: -4;
}

#mt4{
  z-index: -5;
}

#mt5{
  z-index: -6;
  padding-left: 30px;
}