.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
h1{
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.accordion {
  width: 100%;
}

.item {
  background: #EFD472;
  margin-bottom: 5px;
  padding: 10px 20px;
  cursor: pointer;

}

.tittle{
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.content{
  color: grey;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0,1,0,1);
  
}
.content.show{
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1,0,1,0);
}